<p id="notice"><%= notice %></p>

<h1>Posts</h1>
<h5><%= link_to 'New Post', new_post_path %></h5>
<table>
  <thead>
    <tr>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
    <% if post.user_id == current_user.id %>
      <tr>
        <td><%= post.message %></td>
      </tr>
        <tr><td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
        
    <% end %>
    <% end %>
  </tbody>
</table>

<br>


